<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h1 class="color-danger">This is a Heading</h1>
    <p>This is a paragraph.</p>

</body>
</html>


