@model List<AccountListModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetByUserId</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Bilgileri</h5>
                <p class="card-text">@ViewBag.fullname</p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Kullanıcı Listesine Geri Dön</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h5>Hesap Bilgileri</h5>
        @{
            if (Model.Count > 0)

                foreach (var account in Model)
                {
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Hesap Numarası : @account.AccountNumber</h5>
                                <p class="card-text">Bakiye Bilgisi : @account.Balance</p>
                                <a asp-action="SendMoney" asp-controller="Account" asp-route-accountId="@account.Id" class="btn btn-primary">Para Gönder</a>
                            </div>
                        </div>
                    </div>
                }
            else
            {
                <div class="alert alert-info text-center">
                    <p class="lead">
                        Kullanıcının hesabı bulunmamaktadır.
                    </p>
                
                </div>                
            }
        }
    </div>
</div>

