<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>


    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>


