@model WorkUpdateDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-2">
    <h3>Yeni İş Ekle</h3>
    <form asp-action="Update" asp-controller="Home" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label>Yapılacak İş</label>
            <input type="text" class="form-control" asp-for="Definition" name="Definition" />
        </div>


        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="isCompleted" />
                <lable class="form-check-label" for="isCompleted">
                    Tamamlandı mı ?
                </lable>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Ekle</button>
        </div>
        <div asp-validation-summary="All"></div>
    </form>
</div>
